
@{
    ViewBag.Title = "RegisterDelivery";
}

<h2>RegisterDelivery</h2>
<form method="post" action="/Auth/RegisterDelivery">
    <input type="text" name="Fname" />
    <input type="text" name="Lname" />
    <input type="email" name="email" />
    <input type="password" name="password" />
    <input type="number" name="Block" />
    <input type="text" name="category" />
    <input type="number" name="floor" />
    <input type="date" name="birthdate" />
    <input type="submit" value="submit" />
</form>

